body {
    background: #00ccff;
}

main {
    background: white;
    margin: 20px 0;
    padding: 10px;
}

h1 {
    font-family: Comit Sans MS;
}

input {
    font-family: Comit Sans MS;
    text-align: center;
}

img {
    width:500px;
}
